.w-35 {
    width: 35%;
}

.radio-group tbody tr td {
    padding-right: 20px;
}

header form {
    margin: 0 !important;
}

.welcome-header {
    padding-right: 20px !important;
}

.accordion {
    margin: 8px;
}